body {
  background-color: aqua;
}
.boxer {
  width: 500px;
  height: 300px;
  background-color: antiquewhite;
  margin: auto;
  text-align: center;

  h1 {
    color: blueviolet;
  }
  button {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  img {
    width: 100%;
  }
}
