body {
  background-color: antiquewhite;
}

.box {
  width: 500px;
  margin: auto;
  background-color: black;
  color: white;
  padding: 20px;

  h1 {
    font-size: 50px;
    font-style: italic;
  }
  button {
    background-color: green;
    color: white;
    border: none;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
