.row.single-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  text-align: center;
}
.row.single_devs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-md-6 {
  font-family: serif;
}
