img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team {
  text-align: center;

  color: white;
  padding: 100px 0px;
}
.team .heading {
  width: 60%;
  margin: auto;
}
.team .team-member img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.team .team-member p {
  color: aqua;
}
.team.style-2 .heading {
  color: white !important;
  width: 70%;
}
.team.style-2 .team-member img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
