@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f0f2f5 !important;
}
img {
  width: 100%;
}
.create-post img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.create-post button {
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  width: 350px;
  padding: 10px 10px;
}
.post-author img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.post-btn button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  transform: translate(0px, -12px);
}
