.clock {
  background-image: url(./img/watch.png);
  width: 600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.clocktext {
  top: 36%;
  font-size: 30px;
  color: aqua;
  left: -4.7%;
  position: relative;
}
.clockH {
  font-size: 45px;
  font-family: ui-monospace;
}
.clockM {
  position: absolute;
  left: 55%;
  top: 0px;
  font-size: 45px;
  font-family: serif;
}
.clockAMPM {
  position: absolute;
  left: 54%;
  top: 73%;
  font-size: 20px;
  font-family: initial;
  font-weight: 500;
  margin-top: -6px;
}

.date {
  position: absolute;
  left: 48%;
  font-size: 15px;
  color: white;
  font-family: monospace;
}
.clockS {
  margin-top: -15px;
}
.day {
  position: absolute;
  left: 50%;
  font-size: 20px;
  color: #8eff26;
  top: 118%;
  font-weight: 500;
  font-family: sans-serif;
}
.loader {
  width: 100%;
  height: 20px;
  background: green;
}
