.clock {
  background-image: url(./img/watch.png);
  width: 600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.clocktext {
  position: absolute;
  top: 36%;
  font-size: 30px;
  color: aqua;
  left: -4%;
  position: relative;
}
.clockH {
  font-size: 50px;
  font-family: ui-monospace;
}
.clockM {
  position: absolute;
  left: 55%;
  top: 8px;
  font-size: 40px;
  font-family: serif;
}
.clockAMPM {
  position: absolute;
  left: 54%;
  top: 73%;
  font-size: 20px;
  font-family: initial;
  font-weight: 500;
}

.date {
  position: absolute;
  left: 48%;
  font-size: 15px;
  color: white;
  font-family: monospace;
}
.clockS {
  margin-top: -15px;
}
